configs/data_configs/vimet_bench.yml
*.db
*.pyc
catboost_info/*
AutoGluonModels/*
tmp/*
hpc/logs/*
hpc/logs_old/*
hpc/venvs/*
cache/
*-journal
*.pdf
*/ipynb-checkpoint/*
hpc/logs_prime/*
*.parquet
*.csv
/AutoViMet_env
*/AutoViMet_env/*
*core.*
hpc/logs_prime/*
*/.ipynb_checkpoints/
*logs*

