autogluon
ConfigSpace
scikit-learn
openml
typer
typer-config
m5py
cubist
dehb
hebo==0.3.6
pymoo #==0.5.0
numpy # in case of  No module named 'numpy._core' --> Delete OpenML Cache but theirs not our custom

# GPU only (experimental):
# tabpfn
# torch==2.5.1
# torchvision==0.20.1
# torchaudio==2.5.1
# --extra-index-url https://download.pytorch.org/whl/cu121